@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
}
svg {
  width: 1.2rem;
  vertical-align: middle;
  fill: white;
  margin-right: 10px;
}
.container {
  display: grid;
  grid-template-columns: minmax(180px, 2fr) repeat(13, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100vw;
  height: 800px;
}

/* SIDEBAR BEGIN */

.sidebar {
  grid-column: 1 / span 2;
  grid-row: 1 / -1;
  background-color: #0094d0;
  display: grid;
  grid-template-rows: 100px 0.5fr 1fr;
}
.sidebar > * {
  /* border: 1px solid white; */
  color: white;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
.logo svg {
  width: 2rem;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
}
.sidebar ul li {
  margin-bottom: 15px;
  margin-left: 20px;
  list-style-type: none;
  font-weight: 600;
}

/* SIDEBAR END */

/* HEADER BEGIN */

.header {
  grid-column: 3 / -1;
  grid-row: 1 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
}

.header > * {
  border: 1px solid black;
}

.search {
  grid-column: 1 / 8;
  grid-row: 1;
}
.profile {
  grid-column: 8 / -1;
  grid-row: 1;
}
.greeting {
  grid-column: 1 / 8;
  grid-row: 2;
}
.buttons {
  grid-column: 8 / -1;
  grid-row: 2;
}

/* HEADER END */
.main {
  grid-column: 3 / -1;
  grid-row: 4 / -1;
  background-color: #e0e8ef;
}
