@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto";
}
svg {
  width: 1.2rem;
  vertical-align: middle;
  margin-right: 10px;
}

.container {
  display: grid;
  grid-template-columns: minmax(180px, 2fr) repeat(13, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100vw;
  height: 800px;
}

/* SIDEBAR BEGIN */

.sidebar {
  grid-column: 1 / span 2;
  grid-row: 1 / -1;
  background-color: #0094d0;
  display: grid;
  grid-template-rows: 100px 0.5fr 1fr;
}
.sidebar > * {
  /* border: 1px solid white; */
  color: white;
}
.sidebar svg {
  fill: white;
}
.logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
.logo svg {
  width: 2rem;
}
.sidebar ul li a {
  color: white;
  text-decoration: none;
}
.sidebar ul li {
  margin-bottom: 15px;
  margin-left: 20px;
  list-style-type: none;
  font-weight: 600;
}

/* SIDEBAR END */

/* HEADER BEGIN */

.header {
  grid-column: 3 / -1;
  grid-row: 1 / 4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  padding-left: 30px;
  padding-right: 50px;
}

.search {
  grid-column: 1 / 8;
  grid-row: 1;
  padding: 20px;
}
.search input[type="text"] {
  border-radius: 20px;
  height: 15px;
  width: 90%;
  background-color: #e0e8ef;
  border: none;
  padding: 5px;
}
.search input:focus {
  outline: none;
}
.profile {
  grid-column: 8 / -1;
  grid-row: 1;
  font-weight: bold;
  justify-self: end;
}
.profile img {
  max-width: 70px;
  vertical-align: middle;
}
.greeting {
  grid-column: 1 / 8;
  grid-row: 2;
  display: flex;
  font-weight: bold;
  font-size: 20px;
}
.greeting img {
  max-width: 70px;
  vertical-align: middle;
}
.greeting .greeting {
  font-size: 12px;
  display: block;
  padding-bottom: 5px;
}
.buttons {
  grid-column: 8 / -1;
  grid-row: 2;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  background-color: #0094d0;
  border: none;
  height: 40px;
  color: white;
  border-radius: 20px;
  width: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* HEADER END */

/* MAIN BEGIN */
.main {
  grid-column: 3 / -1;
  grid-row: 4 / -1;
  background-color: #e0e8ef;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.main > * {
  border: 1px solid black;
}

.projects {
  grid-column: 1 / 5;
  grid-row: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
}

.announcements {
  grid-column: 5 / 7;
  grid-row: 1 / 4;
}

.trending {
  grid-column: 5 / 7;
  grid-row: 4 / -1;
}
/* MAIN END */
